@font-face{
    font-family: lato;
    src: url("../font/Lato-Regular.ttf");
}

@font-face{
    font-family: lato;
    src: url("../font/Lato-Bold.ttf");
    font-weight: bold;
}

:root {
    --blue: #006a85;
    --dark-blue: #01040D;
    --grey: #181a1b;
    --light-grey: #8a8c82;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--dark-blue);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    padding: 5px 0px 5px 10px;
    height: 40px;
}

nav img {
    height: 40px;
}

.hamburger {
    z-index: 2566;
    padding: 0px !important;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: #707070 !important;
    width: 30px !important;
}

nav div {
    right: -100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 40vw;
    height: 100vh;
    background-color: black;
    transition: 0.5s;
    z-index: 2300;
}

.show {
    right: 0vw !important;
}

nav div h2 {
    font-size: 1.5rem;
    /* text-align: center; */
    color: white;
}

nav div a {
    color: #77e4ff;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 5px;
}

nav div a:hover {
    background-color: rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 650px) {
    .hamburger {
        display: none !important;
    }

    nav div h2 {
        display: none;
    }

    nav div {
        all: unset;
        display: flex;
        align-items: center;
    }

    nav div a:hover {
        background: none;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 900px) {
    nav div a:not(:last-of-type) {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1250px) {
    nav {
        padding: 20px 25px;
    }

    nav h1 {
        font-size: 2.5rem;
    }

    nav div a {
        font-size: 1.4rem;
    }
}