body{
  background-color: #01040D;
}

header{
    position: relative;
}

header img{
    width: 100vw;
    height: auto;
    filter: opacity(50%);
}

header div{
    position: absolute;
    width: 100vw;
    top: 10%;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

header div h1{
    font-size: 4rem;
    margin: 0px auto 10px auto;
}

header div p{
    max-width: 88vw;
    margin: 0px auto;
    font-size: 1.5rem;
}

.latest-post{
    margin: 50px 0px;
    width: calc(100vw - 40px);
    padding: 0px 20px;
    font-family: 'Leelawadee UI';
}

.latest-post a{
    text-decoration: none;
    color: #ffffff;
}

.latest-post p{
    font-weight: bold;
    color: #8a8c82;
    margin: 5px 0px;
    font-size: 0.8rem;
}

.latest-post h2{
    margin: 5px 0px 0px 0px;
    font-size: 1.5rem;
}

hr{
    width: 10px;
    margin-left: 0px;
    color: white;
}

.latest-post article{
    word-wrap: break-word;
}

.latest-post address{
    margin-top: 20px;
}

.post p{
    font-weight: bold;
    color: #8a8c82;
    margin: 5px 0px;
    font-size: 1rem;
    font-family: 'Leelawadee UI';
    margin: 10px 10px;
}

.post a{
    color: white;
    text-decoration: none;
    font-family: lato;
    display: flex;
    justify-content: center;
}

.preview{
    text-align: left;
    background-color: #006a85;
    width: 80vw;
    padding: 25px;
    margin-bottom: 50px;
}

.preview p{
    opacity: 0.6;
    margin: 0px 0px 10px 0px;
}

.preview h2{
    margin: 0px 0px;
}

.preview h3{
    margin: 0px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.preview cite{
    opacity: 0.6;
}