nav {
    background-image: url("../images/puddle.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* #body {
    display: flex;
    flex-direction: row-reverse;
} */

.blog{
    background-image: url("../images/puddle.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: relative;
    background-image: url("../images/blog.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
}

header div {
    width: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

header div h1 {
    font-size: 5rem;
    margin: 0px auto 10px auto;
}

header div p {
    max-width: 88%;
    margin: 0px auto;
    font-size: 1.5rem;
}

#body>h2 {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.latest-post {
    margin: 50px 0px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    font-family: 'lato';
}

.latest-post a {
    text-decoration: none;
    color: #ffffff;
}

.latest-post p {
    font-weight: bold;
    color: var(--light-grey);
    margin: 5px 0px;
    font-size: 0.8rem;
}

.latest-post h2 {
    margin: 5px 0px 0px 0px;
    font-size: 1.5rem;
}

hr {
    width: 10px;
    margin-left: 0px;
    color: white;
}

.latest-post article{
    font-size: 1rem;
}

.latest-post address {
    margin-top: 20px;
}

.post p {
    font-weight: bold;
    color: var(--light-grey);
    font-size: 1rem;
    font-family: 'lato';
    margin: 10px 15px;
}

.post a {
    color: white;
    text-decoration: none;
    font-family: lato;
    display: flex;
    justify-content: center;
}

.preview {
    text-align: left;
    background-color: #006a85;
    width: 80%;
    padding: 25px;
    margin-bottom: 50px;
}

.preview p {
    opacity: 0.6;
    margin: 0px 0px 10px 0px;
}

.preview h2 {
    margin: 0px 0px;
}

.preview h3 {
    margin: 0px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.preview cite {
    opacity: 0.6;
}

.sidemenu {
    width: 60vw;
    height: 100vh;
}