:root {
    --blue: #006a85;
    --dark-blue: #01040D;
    --grey: #181a1b;
    --light-grey: #8a8c82;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    overflow: hidden;
}

.back {
    position: absolute;
}

.back a {
    color: white;
    font-family: lato;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.back img {
    width: 5%;
}

.illustration {
    background-color: var(--dark-blue);
    background-image: url('../images/puddle2.jpg');
    background-position: center;
    background-size: cover;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.illustration h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.illustration p {
    color: white;
    font-family: lato;
    margin: 0px;
}

.illustration img {
    width: 60%;
    margin-top: 50px;
}

.sign-up {
    background-color: var(--blue);
    background-image: url('../images/mountains.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    background-image: url('../images/cloud.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

form h1 {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
}

label {
    display: block;
    margin-top: 25px;
    font-family: lato;
    align-self: flex-start;
}

input {
    width: 100%;
    font-family: lato;
    padding: 10px;
    border: none;
    border-radius: 10px;
    align-self: center;
    border: 2px solid #f0f0f0;
}

input:focus {
    border: 2px solid #d3d3d3;
}

.not-valid {
    display: none;
    margin: 0px;
    color: red;
    font-size: 0.8rem;
}

.error {
    margin: 0px;
    color: red;
    font-size: 0.8rem;
}

.submit {
    margin-top: 10px;
    padding: 10px 45px;
}

form p {
    margin-bottom: 0px;
    font-family: lato;
}

form a {
    color: var(--blue)
}

.c-label {
    background-color: pink !important;
}

.notice {
    position: absolute;
    background-color: var(--dark-);
    background-image: url('../images/puddle2.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 700px) {
    form {
        width: 40%;
    }
}

@media only screen and (min-width: 950px) {
    form {
        width: 30%;
    }
}

@media only screen and (min-width: 1100px) {

    .illustration {
        display: flex;
    }

    .sign-up {
        width: 40vw;
    }

    form {
        width: 40%;
    }

}