<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='hamburgers/dist/hamburgers.css')}}">
    {% block head %}{% endblock %}
</head>

{% set active_user = session['active_user'] %}

<body>
    <nav>
        <a href="/">
            <img src="{{url_for('static', filename='images/LOGO.svg')}}" alt="LOGO">
        </a>
        <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div>
            <h2>Navigation</h2>
            <a href="/">Home</a>
            <a href="/post">Add post</a>
            {% if sign == "out" %}
            <a href="/signout">Sign Out</a>
            {% elif active_user %}
            <a href="/manage">Manage</a>
            {% else %}
            <a href="/sign">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    
    <div id="body">
        {% block body %}{% endblock %}
    </div>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/nav.js')}}"></script>
    {% block js %}{% endblock %}
</body>

</html>