{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
<title>Edit</title>
{% endblock %}


{% block body %}

{% set id = post[0] %}
{% set heading = post[1] %}
{% set subtitle = post[2] %}
{% set article = post[3] %}
{% set author = post[4] %}
{% set date = post[5] %}

<form action="/edit/{{id}}" method="post">
    <label for="heading">Heading: </label>
    <input type="text" name="heading" id="heading" tabindex="1" value="{{heading}}">

    <label for="subtitle">Subtitle:</label>
    <input type="text" name="subtitle" id="subtitle" tabindex="2" value="{{subtitle}}">

    <label for="article">Article:</label>
    <textarea name="article" id="article" rows="5" tabindex="3"></textarea>

    <label for="author">Author:</label>
    <input type="text" name="author" id="author" tabindex="4" value="{{author}}">
    <br>
    <input type="submit" value="Change">
</form>

{% endblock %}

{% block js %}

<script>
    $('textarea').text('{{ post[3] }}')
</script>

{% endblock %}