{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<title>Home Page</title>
{% endblock %}

{% block body %}
<header>
    <h1>All Blog Posts</h1>
    <p>This is the home page you will be able to see all the blog posts here.</p>
</header>

{% if posts|length < 1 %}
<h2>Sorry no posts. 😔</h2>
{% endif %}

<div class="post">
    {% for post in posts %}

    <a href="/article/{{ post.id }}">
        <div class="preview">
            <h2>{{ post.heading }}</h2>
            <h3>{{ post.subtitle }}</h3>
            <p>Written by <b>{{ post.author }}</b> on {{ post.datetime.date() }}</p>
        </div>
    </a>

    {% endfor %}
</div>

{% endblock %}