{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/manage.css')}}">
<title>Manage your posts</title>
{% endblock %}


{% block body %}
<header>
    <h1>Mange your posts</h1>
</header>

{% if posts|length < 1 %}
<h2>You currently don't have any post. 😟</h2>

{% else %}

<table>
    <tr>
        <th>Topic</th>
        <th>Date Created</th>
        <th>Action</th>
    </tr>
    {% for post in posts %}

    {% set id = post[0] %}
    {% set heading = post[1] %}
    {% set date = post[5] %}
    <tr>
        <td>{{ heading }}</td>
        <td>{{ date }}</td>
        <td>
            <a href="/delete/{{ id }}">Remove</a>
            <br>
            <a href="/edit/{{ id }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<p>{{ error }}</p>

{% endblock %}