{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/post.css')}}">
<title>Add your post</title>
{% endblock %}


{% block body %}

<header>
    <h1>Create Post</h1>
    <h3>You can create your BLOG post here</h3>
</header>

{% if active_user %}
<form action="/post" method="post">
    <label for="heading">Heading </label>
    <input type="text" name="heading" id="heading" tabindex="1" autofocus required>

    <label for="subtitle">Subtitle</label>
    <input type="text" name="subtitle" id="subtitle" tabindex="2">

    <label for="article">Article</label>
    <textarea name="article" id="article" rows="10" tabindex="3" required></textarea>
    <br>
    <input type="submit" value="SUBMIT" tabindex="5">
</form>
{% else %}
<div class="not-active">
    <h2>It seems like you haven't signed</h2>
    <p>Please chose an option to continue</p>
    <a href="/sign">
        <input type="button" value="Sign Up">
    </a>
    <a href="/login">
        <input type="button" value="Log In">
    </a>
</div>
{% endif %}

{% endblock %}