<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}">
    <title>Log In</title>
</head>

<body>

    <div class="back">
        <a href="/">
            <img src="{{url_for('static', filename='images/index.png')}}" alt="arrow">
            <p>Home</p>
        </a>
    </div>

    <div class="illustration">
        <h1>Sign Up To Express Your Thoughts</h1>
        <p>Really Appreciated</p>
        <img src="{{url_for('static', filename='images/sign-in.svg')}}" alt="">
    </div>
    <div class="sign-up">
        <form action="/sign" method="POST">
            <h1>Sign Up</h1>

            <label for="username">Username</label>
            <input type="text" oninvalid="invalid()" name="username" id="username" pattern="[a-z0-9_]+" tabindex="1"
                autofocus required>
            <p class="not-valid">Only use lowercase and underscore.</p>
            {% if error %}
            <p class="error">Already taken</p>
            {% endif %}

            <label for="password">Password</label>
            <input type="password" minlength="5" name="password" id="password" tabindex="2" required>
            <br>
            <input type="submit" value="Sign Up" class="submit" tabindex="3"> 
            
            <p>Already have an account? <a href="/login">Log In</a></p>
        </form>
    </div>

    <script>
        function invalid() {
            document.querySelector('.not-valid').style.display = 'block';
        }
    </script>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/logged.js')}}"></script>
</body>

</html>